
.set-text-shadow{
  text-shadow: 1px 1px 1px #000;
}

.set-text-border{
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #264286;
  text-shadow: 0 0 10px #304a8a, 0 0 20px #304a8a, 0 0 30px #304a8a;
}

.set-gradient-bg{

  /* bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%*/
  background: linear-gradient(to top, #0f1e41 20%, #1d306e 30%, #2e409d 50%, transparent 100%);
}

.custom-font{
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}




.gradient-border{
  border-image: linear-gradient(to top, transparent 20%, #0d1f47 30%, #1d3268 50%, #3d5492 100%) 1;
}

.information{
  background: url("../../../assets/hero.svg");
  background-size: cover;
  backface-visibility: hidden;
}

.set-bg-opacity {
  background: rgba(0,0,0,0.5);
}


.set-blue-bg-opacity{
  background: rgba(0, 64, 222, 0.5);
}

.set-mask-image{
  mask-image: linear-gradient(black 20%, black 20%, black 20%, black 20%, transparent)
}

.set-clip-path {
  clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
}

