<header>
  <section class="mb-80">
    <div class="relative">
      <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-pink-500 to-violet-500
             sm:left-[calc(50%-30rem)] sm:w-[72.1875rem] set-clip-path"></div>
      </div>
      <div
        class="absolute inset-x-0 -top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true">
        <div class="relative -left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#06b6d4] to-[#0c4a6e]
            sm:left-[calc(50%+36rem)] sm:w-[72.1875rem] set-clip-path"></div>
      </div>
      <h1 class="xl:text-[30rem] md:text-[15rem] text-[5rem] text-center">
        <span class="bg-clip-text text-[#0b1a36] set-text-border tracking-widest">
          Tellor
        </span>
      </h1>
      <figure class="absolute top-32 w-[100%] set-gradient-bg">
        <img src="../../../assets/hero2.svg" class="hero-img md:w-[45%] w-full mx-auto mt-10 rounded-xl shadow-xl" alt="hero image">
      </figure>

    </div>
  </section>

  <section class="md:w-[80%] w-full mx-auto mt-10 py-10 grid grid-cols-1 gap-20 mix-blend-screen">
    <div class="text-center grid grid-cols-1 gap-10">
      <h2 class="md:text-6xl text-xl font-bold">A Decentralized Oracle Protocol</h2>
      <p class="md:w-[50%] w-[90%] mx-auto text-gray-500 mt-5">Tellor is a decentralized oracle protocol that provides
        secure and reliable data for smart contracts. It is a fully decentralized and permissionless network that
        enables smart contracts to securely and trustlessly access off-chain data.</p>
    </div>
    <div class="flex  md:flex-row flex-col justify-center gap-5 items-center">
      <button
        class="bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 rounded-md hover:animate-pulse">
        Documents &#8594;
      </button>
      <button class="border-2 text-xl border-[#3864e9] text-white px-5 py-3 rounded-xl hover:bg-[#3864e9]">Learn
        More</button>
    </div>
  </section>

</header>

<main class="relative">
  <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#102559] to-[#1a347a] h-[100vh]
                   sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
         style="clip-path: polygon(0 0, 19% 0, 100% 100%, 79% 100%);"
    ></div>
  </div>
  <section class="relative grid grid-cols-1 rounded-xl border-y-2 border-[#314272]4 border-[#314272]  w-[90%] mx-auto bg-gradient-to-t from-[#12182c] from-40% via-[#112152] via-80% to-transparent to-100% py-20 px-12 gap-10">
    <h2 class="text-center text-4xl font-bold">
      Empowering Success Through Trusted Partnerships
    </h2>
    <div class="grid md:grid-cols-5 sm:grid-cols-1 gap-10 custom-font">
                <span>
                    swisscom
                </span>
      <span>
                    synthetix
                </span>
      <span>
                    AAVE
                </span>

      <span>
                    lemonade
                </span>
      <span>
                    compound
                </span>
      <span>
                    nexus mutual
                </span>
      <span>
                    Maker
                </span>
      <span>
                    NBA
                </span>
      <span>
                    ENS
                </span>
      <span>
                    NEXON
                </span>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
         aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-t from-[#102559] to-[#1a347a] h-[100vh]
                  sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(0 0, 19% 0, 100% 100%, 79% 100%);"
      ></div>
    </div>
  </section>

  <section class="relative w-[80%] mx-auto mt-10 py-10 grid md:grid-cols-2 grid-cols-1 gap-20 mix-blend-screen ">

    <div class="information flex flex-col gap-10 py-10">
      <h3
        class="md:w-[35%] w-full text-[#3764e6] bg-gradient-to-t from-[#0c1833e8] from-35% via-transparent via-30% to-[#0c1833e8] to-35% text-2xl font-bold p-2 rounded-xl"
      >About The Protocol</h3>
      <h2 class="md:w-[55%] w-full tracking-wider flex-1 md:text-5xl text-xl">
        You Are Only As Desentralized As Your Data
      </h2>
      <button class="md:w-[40%] w-full border-2 text-xl font-semibold border-[#3864e9] set-bg-opacity text-[#3764e6] px-5 py-3 rounded-xl">
        Whitepaper &#8594;
      </button>
    </div>
    <div class="md:grid hidden grid-cols-1 gap-10">
      <p class="border-l-2 gradient-border py-5 text-justify pl-10">
        <span class="text-gray-500 font-semibold">Blockchains Cannot Natively Access Off-Chain Data</span> (Like API Feeds Or Transaction Data From Another Chain), So Web3 Projects Have Relied On Their Own Methods Of Sourcing Real-World Data For Their Smart Contracts.
      </p>
      <p class="border-l-2 gradient-border py-5 text-justify pl-10">
        <span class="text-gray-500 font-semibold">However, Centralized Points Of On-Chain Data Entry Are Increasingly Vulnerable</span> To Manipulation, Attack, And Censorship - Making A Truely Decentralized Oracle A Critical Piece Of Web3 Infastructure.
      </p>
      <p class="border-l-2 gradient-border py-5 text-justify pl-10">
        For An Oracle To Claim It Is Truly Decentralized, The Provided Data Needs To Be Protected & Validated By An <span class="text-gray-500 font-semibold">Unrestricted, Distributed Network Of Anonymous Reporters And Secured With Simple Crypto-Economic Incentives.</span> This Way Any Kind Of Data Can Be Provided By Anyone... And Checked By Everyone.
      </p>
    </div>
    <div class="md:hidden grid grid-cols-1 gap-10">
      <p class="border-y-2 border-[#314272] rounded-xl md:text-justify text-center py-10">
        <span class="text-gray-500 font-semibold">Blockchains Cannot Natively Access Off-Chain Data</span> (Like API Feeds Or Transaction Data From Another Chain), So Web3 Projects Have Relied On Their Own Methods Of Sourcing Real-World Data For Their Smart Contracts.
      </p>
      <p class="border-y-2 border-[#314272] rounded-xl md:text-justify text-center py-10">
        <span class="text-gray-500 font-semibold">However, Centralized Points Of On-Chain Data Entry Are Increasingly Vulnerable</span> To Manipulation, Attack, And Censorship - Making A Truely Decentralized Oracle A Critical Piece Of Web3 Infastructure.
      </p>
      <p class="border-y-2 border-[#314272] rounded-xl md:text-justify text-center py-10">
        For An Oracle To Claim It Is Truly Decentralized, The Provided Data Needs To Be Protected & Validated By An <span class="text-gray-500 font-semibold">Unrestricted, Distributed Network Of Anonymous Reporters And Secured With Simple Crypto-Economic Incentives.</span> This Way Any Kind Of Data Can Be Provided By Anyone... And Checked By Everyone.
      </p>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
         aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-t from-[#102559] to-[#1a347a] h-[100vh]
                  sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(0 0, 19% 0, 100% 100%, 79% 100%);"
      ></div>
    </div>
  </section>
  <section class="relative md:w-[80%] w-[95%] mx-auto mt-10 py-10 grid grid-cols-1 gap-20 mix-blend-screen">
    <div class="text-center grid grid-cols-1 gap-10">
      <h2 class="md:text-6xl text-xl font-bold">How It Works</h2>
      <p class="md:w-[50%] w-[90%] mx-auto text-gray-500 mt-5">The Protocol Incentivizes Open, Permissionless Data Reporting And Validation, Ensuring Transparency And Inclusivity In The Process.</p>
    </div>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-10 items-stretch">
      <div class="p-5 rounded-xl grid grid-cols-1 gap-10 bg-gradient-to-t from-[#12182c] via-[#111d40] to-[#112152] border-y-2 border-slate-600">
        <h2 class="text-slate-300 text-2xl font-bold">SpotPrice</h2>
        <p class="text-slate-500 md:text-justify text-center">Real-Time Market Insights At Your Fingertips. Leveraging APIs For Seamless Data Retrieval, We Track Price Shifts, Trading Volumes, And Key Indicators. Stay Informed, Act Decisively.</p>
        <div class="flex justify-between items-center">
          <div class="bg-blue-700 p-2 rounded-md">
            <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M14 7h-4v3a1 1 0 0 1-2 0V7H6a1 1 0 0 0-.997.923l-.917 11.924A2 2 0 0 0 6.08 22h11.84a2 2 0 0 0 1.994-2.153l-.917-11.924A1 1 0 0 0 18 7h-2v3a1 1 0 1 1-2 0V7Zm-2-3a2 2 0 0 0-2 2v1H8V6a4 4 0 0 1 8 0v1h-2V6a2 2 0 0 0-2-2Z" clip-rule="evenodd"/>
            </svg>
          </div>
          <button class="text-blue-700 hover:animate-pulse text-xl font-bold">
            Get Started &#8594;
          </button>
        </div>

      </div>
      <div class="p-5 rounded-xl grid grid-cols-1 gap-10 bg-gradient-to-t from-[#12182c] via-[#111d40] to-[#112152] border-y-2 border-slate-600">
        <h2 class="text-slate-300 text-2xl font-bold">Custom</h2>
        <p class="text-slate-500 md:text-justify text-center">Empowering Users With Data Freedom. Access Any Data Type Effortlessly. Tailor Insights To Your Unique Needs, Driving Informed Decisions.</p>
        <div class="flex justify-between items-center">
          <div class="bg-blue-700 p-2 rounded-md">
            <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M9.586 2.586A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2v.089l.473.196.063-.063a2.002 2.002 0 0 1 2.828 0l1.414 1.414a2 2 0 0 1 0 2.827l-.063.064.196.473H20a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-.089l-.196.473.063.063a2.002 2.002 0 0 1 0 2.828l-1.414 1.414a2 2 0 0 1-2.828 0l-.063-.063-.473.196V20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-.089l-.473-.196-.063.063a2.002 2.002 0 0 1-2.828 0l-1.414-1.414a2 2 0 0 1 0-2.827l.063-.064L4.089 15H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h.09l.195-.473-.063-.063a2 2 0 0 1 0-2.828l1.414-1.414a2 2 0 0 1 2.827 0l.064.063L9 4.089V4a2 2 0 0 1 .586-1.414ZM8 12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" clip-rule="evenodd"/>
            </svg>
          </div>
          <button class="text-blue-700 hover:animate-pulse text-xl font-bold">
            Get Started &#8594;
          </button>
        </div>
      </div>
      <div class="p-5 rounded-xl grid grid-cols-1 gap-10 bg-gradient-to-t from-[#12182c] via-[#111d40] to-[#112152] border-y-2 border-slate-600">
        <h2 class="text-slate-300 text-2xl font-bold">Become A Reporter</h2>
        <p class="text-slate-500 md:text-justify text-center">Protocol Data Is Provided By A Network Of Reporters Running Telliot, An Open-Source Reporting Client.</p>
        <div class="flex justify-between items-center">
          <div class="bg-blue-700 p-2 rounded-md">
            <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
            </svg>
          </div>
          <button class="text-blue-700 hover:animate-pulse text-xl font-bold">
            Get Started &#8594;
          </button>
        </div>
      </div>
    </div>
    <button
      class="bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 rounded-md hover:animate-pulse md:w-[20%] mx-auto w-full">
      Learn The Fundamentals
    </button>
    <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#102559] to-[#1a347a] h-[100vh]
                   sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(0 0, 19% 0, 100% 100%, 79% 100%);"
      ></div>
    </div>
  </section>

  <section class="relative md:w-[80%] w-[98%] mx-auto mt-10 py-10 grid grid-cols-1 gap-20">
    <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#102559] to-[#1a347a] h-[100vh]
                   sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(0 0, 19% 0, 100% 100%, 79% 100%);"
      ></div>
    </div>
    <div class="text-center grid grid-cols-1 gap-10">
      <h2 class="md:text-6xl text-3xl font-bold">Our Team Member</h2>
    </div>
    <div class="grid md:grid-cols-4 grid-cols-1 md:h-[70vh] h-auto gap-5">
      <div class="self-start p-5 rounded-xl flex flex-col bg-gradient-to-t from-[#12182b] to-[#102153] border-y-2 border-slate-600">
        <div>
          <h2 class="text-slate-300 text-2xl font-bold">
            Brenda <span class="font-normal">Loya</span>
        </h2>
        <p class="text-slate-500 md:text-justify text-center">
          Ceo and Co-Founder At Tellor
        </p>
        </div>
        <img class="h-[25rem] object-cover set-mask-image" src="./assets/profile1.png" alt="">
        <div class="flex justify-center items-center">
          <button class="flex-1 flex justify-center items-center bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>

      </div>
      <div class="self-end p-5 rounded-xl flex flex-col bg-gradient-to-t from-[#12182b] to-[#102153] border-y-2 border-slate-600">
        <div>
          <h2 class="text-slate-300 text-2xl font-bold">
          Theresa <span class="font-normal"> Web</span>
        </h2>
        <p class="text-slate-500 md:text-justify text-center">
          Marketing Director At Tellor
        </p>
        </div>
        <img class="h-[25rem] object-cover set-mask-image" src="./assets/profile2.png" alt="">
        <div class="flex justify-center items-center">
          <button class="flex-1 flex justify-center items-center bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>

      </div>

      <div class="self-start p-5 rounded-xl flex flex-col bg-gradient-to-t from-[#12182b] to-[#102153] border-y-2 border-slate-600">
        <div>
          <h2 class="text-slate-300 text-2xl font-bold">
            Brooklynn <span class="font-normal">Symmons</span>
        </h2>
        <p class="text-slate-500 md:text-justify text-center">
          Ui/Ux Designer At Tellor
        </p>
        </div>
        <img class="h-[25rem] object-cover set-mask-image" src="./assets/profile3.png" alt=""/>
        <div class="flex justify-center items-center">
          <button class="flex-1 flex justify-center items-center  bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center  bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center  bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>

      </div>

      <div class="self-end p-5 rounded-xl flex flex-col bg-gradient-to-t from-[#12182b] to-[#102153] border-y-2 border-slate-600">
        <div>
          <h2 class="text-slate-300 text-2xl font-bold">
          Ralph <span class="font-normal">Edwards</span>
        </h2>
        <p class="text-slate-500 md:text-justify text-center">
          Web Developer At Tellor
        </p>
        </div>
        <img class="h-[25rem] object-cover set-mask-image" src="./assets/profile4.png" alt=""/>
        <div class="flex justify-center items-center">
          <button class="flex-1 flex justify-center items-center  bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center  bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
            </svg>
          </button>
          <button class="flex-1 flex justify-center items-center  bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 first:rounded-l-xl last:rounded-r-xl hover:animate-pulse">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#102559] to-[#1a347a] h-[100vh]
                   sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(0 0, 19% 0, 100% 100%, 79% 100%);"
      ></div>
    </div>
  </section>

  <section class="md:w-[80%] w-[98%] mx-auto mt-10 py-10 grid grid-cols-1 gap-20">
    <div class="text-center flex md:flex-row flex-col justify-between gap-10">
      <h2 class="md:text-6xl text-3xl font-bold">The Tellor Blog</h2>
      <button class="border border-blue-600 p-4 set-blue-bg-opacity font-bold rounded-xl">
        Browse All Articles
      </button>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
      <div class="flex flex-col rounded-xl gap-10 bg-gradient-to-t from-[#12182b] to-[#102153] border-y-4 border-slate-600 p-5">
        <img class="rounded-xl object-cover shadow-2xl shadow-[#102155]" src="./assets/post1.jpg" alt="" />
        <h2 class="text-slate md:text-2xl text-xl md:text-justify text-center font-bold">Liquid Staking Tokens: Understanding The Oracle Perspective In DeFi's Evolving Landscape</h2>

        <ul class="flex divide-x md:text-xl text-sm">
          <li class="text-slate-500 px-3 underline">
            Thought Leadership
          </li>
          <li class="text-slate-500 px-3 underline">
            Mike Zemrose
          </li>
        </ul>
        <hr>
        <ul class="flex justify-between items-center">
          <li class="text-xl">
            Jan 12, 2023
          </li>
          <li>
            <button class="text-blue-700 hover:animate-pulse text-xl font-bold">
              Learn More &#8594;
            </button>
          </li>
        </ul>
      </div>

      <div class="flex flex-col rounded-xl gap-10 bg-gradient-to-t from-[#12182b] to-[#102153] border-y-4 border-slate-600 p-5">
        <img class="rounded-xl object-cover shadow-2xl shadow-[#102155]" src="./assets/post2.jpg" alt="" />
        <h2 class="text-slate md:text-2xl text-xl md:text-justify text-center font-bold">Tellor Excels: Deploys On Manta Pacific For Enhanced Oracle Solutions</h2>

        <ul class="flex divide-x md:text-xl text-sm">
          <li class="text-slate-500 px-3 underline">
            Thought Leadership
          </li>
          <li class="text-slate-500 px-3 underline">
            Mike Zemrose
          </li>
        </ul>
        <hr>

        <ul class="flex justify-between items-center">
          <li class="text-xl">
            Jan 12, 2023
          </li>
          <li>
            <button class="text-blue-700 hover:animate-pulse text-xl font-bold">
              Learn More &#8594;
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="relative md:w-[80%] w-[90%] mx-auto md:py-28 p-8 my-10 px-3 bg-gradient-to-t from-[#12182c] via-[#111d40] to-[#112152] border-y-2 border-slate-600 text-center rounded-xl grid grid-cols-1 gap-10">
    <h2 class="md:text-6xl text-xl font-bold">Smart Contracts, Reliable Data</h2>
    <p class="md:w-[50%] w-[90%] mx-auto">
      Experience The Future Of Decentralized Oracles At Tellor.lo. Empower Your Smart Contracts With Reliable Data. Explore Now For Innovation And Trustworthiness
    </p>
    <button
      class="md:w-[30%] w-full mx-auto bg-gradient-to-t from-[#2a57dc] to-[#4874f7] text-xl text-white px-5 py-3 rounded-md hover:animate-pulse">
      Explore Now &#8594;
    </button>
  </section>
</main>
